{{ if .Site.Data.homepage.about.enable }}
<section class="section rad-animation-group pb-0" id="about">
  <div class="container rad-fade-down">
    <div class="row d-flex flex-column-reverse flex-md-row">
      <div class="col-12 col-md-6 d-flex justify-content-center align-items-center"> <!-- Modified -->
        <div class="about__profile-picture mb-4">
          {{ $img := resources.Get .Site.Data.homepage.about.image.x }}
          {{ $img2x := resources.Get .Site.Data.homepage.about.image._2x }}
          {{ $desiredWidth := 300 }} <!-- Desired width in pixels -->
          {{ $desiredHeight := div (mul $img.Height $desiredWidth) $img.Width }}
          <!-- Calculate height based on aspect ratio -->
          {{ $resizedImage := $img.Resize (printf "%dx%d" $desiredWidth $desiredHeight) }}
          <picture>
            <source srcset="{{ $resizedImage.RelPermalink }}" type="image/webp">
            <img width="{{ $desiredWidth }}" height="{{ $desiredHeight }}"
              class="lozad img-responsive image-left-overflow" src="{{ $resizedImage.RelPermalink }}"
              alt="Profile Picture of Adrián Moreno (@zetxek), working side by side with a colleague: sitting on a desk, while looking at a screen">
          </picture>
        </div>
      </div>
      <div class="col-12 col-md-6 my-auto">
        <div class="mb-4">
          <h2>{{ .Site.Data.homepage.about.title }}</h2>
          {{ .Site.Data.homepage.about.content | safeHTML }}
        </div>
        <a href="{{ .Site.Data.homepage.about.button.URL | absURL }}" target="_blank" class="btn btn-primary">
          <i class="{{ .Site.Data.homepage.about.button.icon }}"></i>
          {{ .Site.Data.homepage.about.button.btnText }}
        </a>
      </div>
    </div>
  </div>
</section>
{{ end }}