{{ if .Site.Data.homepage.experience.enable }}
<section id="experience" class="section-experience section section--border-bottom rad-animation-group">
    <div class="container">
        <div class="row rad-fade-down">
            <div class="col-12 col-lg-5 mb-4 mb-lg-0">
                <h2>{{ .Site.Data.homepage.experience.title }}</h2>
                <div class="experience-description">
                    <p>{{ .Site.Data.homepage.experience.description | safeHTML }}</p>
                </div>
                <div class="experience-actions">
                    <a href="{{ .Site.Data.homepage.experience.button.URL }}" target="_blank" class="btn btn-primary">
                        <i class="{{ .Site.Data.homepage.experience.button.icon }}"></i>
                        {{ .Site.Data.homepage.experience.button.btnText }}
                    </a>
                </div>
            </div>
            <div class="col-12 col-lg-7">
                <div class="experience-timeline">
                    {{ with .Site.Data.homepage.experience.items }}
                    {{ range . }}
                    <div class="timeline-item">
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <span class="timeline-date">{{ .duration }}</span>
                            <h4 class="timeline-title">{{ .title }}</h4>
                            <span class="timeline-company">{{ .company }}</span>
                            <span class="timeline-location">{{ .location }}</span>
                        </div>
                    </div>
                    {{ end }}
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}